
.App {
  border: 3px solid lightgray;
  text-align: center;
  align-self: center;
}

.rightCharGrid {
  flex-direction: row;
  justify-content: center;
}

.rightChar {
  width: 35px;
  height: 40px;
  text-align: center;
}

.inputField {
  padding-top: 5px;
}

.InputBox {
  padding-bottom: 10px;
}

.CharLabel {
  color: blue;
}

.SearchButton {
  padding-top: 7px;
}
