
.App {
  border: 3px solid lightgray;
  text-align: center;
  align-self: center;
  border-radius: 10px;
}

.rightCharGrid {
  flex-direction: row;
  justify-content: center;
}

.rightChar {
  width: 40px;
  height: 40px;
  text-align: center;
}

.inputField {
  padding-top: 5px;
}

.InputBox {
  padding-bottom: 10px;
}

.OutputBox {
  padding-bottom: 5px;
}

